#webOs2 {
    display: block;    
    /* overflow: hidden; */
    height: 370px;
    padding: 0px 0px 0px 80px;
    margin: 0px -90px 0px -75px;
    text-align: center;
}

#webOs2 ul {
    display: block;
    padding: 0px;
    margin: 0px;
    position: relative;
}

#webOs2 ul li {
    float: left;
    height: 350px;
    list-style-type: none;
    background: #fff;
    padding: 0px;
    margin: 0px;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
    position: relative;
    top: 0px;
    z-index: 30;
    -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1);
    /* older webkit */
    -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    /* easeOutBack */
}

#webOs2 ul:after,
#webOs2 ul:before {
    content: "";
    display: block;
    /* background:#4b9ed7; */
    border: 0px;
    position: relative;
    z-index: 26;
    width: 0px;
    height: 100px;
    position: absolute;
    top: 0px;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
}

#webOs2 ul li:hover {
    background: #fff;
    box-shadow: inset 0 3px 0 0 rgb(255, 30, 30) !important;
    z-index: 40;
}

#webOs2 ul:before {
    border-right: 20px solid #fff;
    background: #fff;
    left: -4px;
    height: 135px;
    display: none;
}

#webOs2 ul:after {
    border-left: 10px solid #fff;
    background: #fff;
    right: -60px;
}

#webOs2 ul li a {
    display: block;
    height: 80px;
    line-height: 100px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
}

p {
    margin: 0px !important;
    padding: 0px ;    
    transform: skew(0.1deg);
    color: #fff;
}

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;

}

.img-webOS {
    max-width: auto;
    transform: skew(10deg);
}

.metrus-logo {
    background-color: #778899 !important;
    background-image: url('./../img/gray_pattern.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.metrus-logo-img {
    margin-top: 20px;
    height: 15%;
}


.fatura-corporativa {
    background-color: #6c7986 !important;
    background-image: url('./../img/gray_pattern.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.fatura_corporativa-logo-img {
    margin-top: 31px;
    height: 12%;
}


.cedae-src {
    background-color: #5f6870 !important;
    background-image: url('./../img/gray_pattern.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.cedae-src-logo {
    margin-top: 20px;
    height: 15%;
}

.git-lab {
    background-color: #336ca1 !important;
    background-image: url('./../img/gray_pattern.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.git-lab-img {
    height: 100%;
}


.mantis {
    background-color: #FFE4C4 !important;
    background-image: url('./../img/gray_pattern.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.mantis-img {
    height: 60%;
}

.time-sheet {
    background-color: #fdc04e !important;
    background-image: url('./../img/gray_pattern.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

}

.time-sheet-img {
    height: 90%;
}

.test-link {
    background-color: #87CEEB !important;
    background-image: url('./../img/gray_pattern.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.test-link-img {
    height: 40%;
}

.g-drive {    
    background-image: url('./../img/gray_pattern.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.g-drive-img {
    height: 35%;

}

.ahgora {
    background-color: #90EE90 !important;
    background-image: url('./../img/gray_pattern.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

}

.ahgora-img {
    height: 40%;
}

.webdemonstrativo {
    background-color: #f3b193 !important;
    background-image: url('./../img/gray_pattern.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

}


@media (max-width: 1440px) and (max-height: 900px) {

    #webOs2 {
        display: block;    
        /* overflow: hidden; */
        height: 370px;
        padding: 0px 0px 0px 80px;
        margin: -20px -90px 0px -100px;
        text-align: center;
    }

    #webOs2 ul li {    
        height: 300px;
    }

    #webOs2 ul li a {
        display: block;
        height: 60px;
        line-height: 100px;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: 13px;
    }

    .cedae-src-logo {
        margin-top: 16px;
        height: 15%;
    }

    .fatura_corporativa-logo-img {
        margin-top: 31px;
        height: 10%;
    }

    .metrus-logo-img {
        margin-top: 22px;
        height: 13%;
    }
}